.button{
    display: inline-block;
    padding: 15px 32px;
    /* width: auto; */
    margin: 0.5px ;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 16px;
    text-decoration: none;
    /* background-color: antiquewhite; */
    cursor: pointer;
};

/* p{
    color: pink;
    background-color: blue;
}; */
/* .label{
    font-size: 30px;
    margin-top: 80px;
    padding: 0 40px;
} */